/*********************************************************************************/
/************************************* Globle  ***********************************/
/*********************************************************************************/
.text-muted-main {
  color: rgb(0, 0, 0, 0.4) !important;
}

.card-header {
  cursor: pointer;
  background-color: #fff !important;
  border-bottom-width: 2.5px !important;
  border-color: rgb(0, 0, 0, 0.1) !important;
}
.card-body,
.card-footer {
  background-color: #f8f8f8 !important;
}

.card-body {
  padding: 0 !important;
}
.card-body .row {
  padding: 0.6rem !important;
}

@media screen and (max-width: 576px) {
  .weather-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .card:hover {
    scale: 1.05;
    transition: all 0.35s;
  }
}
