/*********************************************************************************/
/************************************* Globle  ***********************************/
/*********************************************************************************/
.text-muted-main {
  color: rgb(0, 0, 0, 0.4) !important;
}

.card {
  cursor: pointer;
}

.card-header {
  background-color: #fff !important;
  border-bottom-width: 2.5px !important;
  border-color: rgb(0, 0, 0, 0.1) !important;
}
.card-body,
.card-footer {
  background-color: #f8f8f8 !important;
}

.card-body {
  padding: 0 !important;
}
.card-body .row {
  padding: 0.6rem !important;
}

@media screen and (max-width: 576px) {
  .weather-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .card:hover {
    scale: 1.05;
    transition: all 0.35s;
  }
}

/*********************************************************************************/
/************************************* Header  ***********************************/
/*********************************************************************************/
.nav {
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 255, 255, 50%);
}
.nav button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.nav li.active {
  position: relative;
}
.nav li.active button {
  font-weight: 700;
  font-size: 17px;
}
.nav li.active::after {
  background-color: #fff;
  content: '';
  width: 90px;
  height: 3px;
  position: absolute;
  bottom: -13px;
  left: 0;
  z-index: 1;
}
